.content-container {
  .red-class {
    color: red;
    font-size: 20px;
    text-decoration: unset;
  }

  .green-class {
    color: green;
    font-size: 40px;
    text-decoration: underline;
  }

}
